asgiref==3.6.0
awscli==1.38.5
awsebcli==3.21.0
blessed==1.20.0
boto3==1.37.5
botocore==1.37.5
cement==2.10.14
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.14.0
docutils==0.16
gunicorn==20.1.0
idna==3.10
jmespath==1.0.1
pathspec==0.10.1
pyasn1==0.6.1
python-dateutil==2.9.0.post0
pytz==2022.7.1
PyYAML==6.0.2
requests==2.32.3
rsa==4.7.2
s3transfer==0.11.3
semantic-version==2.10.0
six==1.17.0
sqlparse==0.4.3
termcolor==2.5.0
tzdata==2022.7
urllib3==1.26.20
wcwidth==0.2.13
whitenoise==6.3.0
